* {
  box-sizing: border-box;
}

body {
  font-size: 0;
  height: 100vh;
  width: 100;
  background-color: #adadff;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.button-to-bypass {
  height: 50px;
  box-shadow: none;
  border: 1px solid #5c5c5c;
  border-radius: 10px;
  background-color: #ffe3e7;
  color: #5c5c5c;
  align-self: center;
  padding: 15px;
}
